@import "tailwindcss";
 
body {
  margin: 0;
  min-height: 100vh;
}
 
#root {
  min-height: 100vh;
}
 
/* ===== Uiverse Button ===== */

.uiverse-btn {
  cursor: pointer;
  border: none;
  border-radius: 16px;
  padding: 2px;
  position: relative;
  background: radial-gradient(circle 80px at 80% -10%, #ffffff, lab(17.77% 8.12 -27.98));
  transition: transform .2s;
}

.uiverse-btn:hover {
  transform: scale(1.03);
}

.uiverse-btn::after {
  content: "";
  position: absolute;
  width: 65%;
  height: 60%;
  top: 0;
  right: 0;
  border-radius: 120px;
  box-shadow: 0 0 20px #ffffff38;
  z-index: -1;
}

.uiverse-inner {
  position: relative;
  padding: 12px 20px;
  border-radius: 14px;
  color: white;
  background: radial-gradient(circle 80px at 80% -50%, #777777, #010211);
}

.uiverse-inner::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 14px;
  background: radial-gradient(circle 60px at 0% 100%, #0000001a, #0000ff11, transparent);
}
